<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>servletControlLogin</servlet-name>
        <servlet-class>controller.servletControlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletControlLogueo</servlet-name>
        <servlet-class>controller.servletControlLogueo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterfaceRegion</servlet-name>
        <servlet-class>pe.edu.upeu.rrhh.interfaces.InterfaceRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegionControl</servlet-name>
        <servlet-class>pe.edu.upeu.rrhh.controlador.RegionControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>pe.edu.upeu.rrhh.controlador.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletControlLogin</servlet-name>
        <url-pattern>/servletControlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletControlLogueo</servlet-name>
        <url-pattern>/servletControlLogueo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterfaceRegion</servlet-name>
        <url-pattern>/InterfaceRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegionControl</servlet-name>
        <url-pattern>/region</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
