@CHARSET "ISO-8859-1";
*{
	margin: 0 auto;
}
body {
	font-family: cursive;
	font-size: 12px;
}
#caja form{
	        text-align:center;
	        width: 300px;
	        height: auto;
	        padding: 10px;
	        border:5px solid #000000;
	        border-radius:9px;
	        padding: 10px;
	        background: green;
}
header{
width: 90%;
height: 50px;
margin-bottom: 100px;
text-align: center;
font-family: cursive;
background: aqua;
border-radius:5px;
}
label {
	
}